.App {
  text-align: center;
}

.App-logo {
  height: 220px;
}



.App-header {
  background-color: #070d1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
